@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  /* background-color: #f0fdfa; */
  /* background-color: #f2f0f0; */
  background: linear-gradient(-45deg, #ee7752, #f2f0f0, #23a6d5, #f0fdfa);
  background-size: 400% 400%;
  animation: gradient 20s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #e0e0e0;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-track:hover {
  background: #555;
}
